* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eae8eb;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
}

img.map-img {
  width: 100%;
  max-width: 1000px; /* You can adjust this to your design size */
  height: auto;
  display: block;
  margin: 20px auto;
  padding: 0 10px;
}
