body {
  background-color: #eae8eb;
  background-attachment: fixed;
  background-image: url("compbackground.png");
  background-size: contain; /* Ensures full image is visible */
  background-repeat: no-repeat;
  background-position: center;
}
