
* {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;

}
h1 {
    font-size:38pt;
}
h2 {
    font-size:28pt;
}
p {
    font-size:20pt;
}
/*font embed
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
*/